# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Environment variables
.env

# JavaScript / Node
node_modules/
dist/
.eslintcache

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
